body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.pnhttps://img.freepik.com/premium-vector/user-web-video-call-window-video-chat-interface-live-stream-concept-social-remote-media-remote-communication-video-content_110633-1009.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
